doctype html
html(lang="en")
  head
    title= htmlWebpackPlugin.options.title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    link(rel="icon" type="image/png" href=require("./img/favicon.png"))
    
  body
    .container
      .row
        .col-md-6.col-md-offset-3(style="margin-top: 25vh; padding: 3em 6em")
          .panel.panel-primary
            .panel-heading Project Ready!
            .panel-body
              h3 Frameworks:
              ul.list-group
                li.list-group-item Webpack
                  a.pull-right(href="https://webpack.github.io/") Website
                li.list-group-item Sass
                  a.pull-right(href="http://sass-lang.com/") Website
                li.list-group-item Pug
                  a.pull-right(href="https://pugjs.org/") Website
                li.list-group-item Babel
                  a.pull-right(href="https://babeljs.io/") Website
                li.list-group-item Bootstrap 3
                  a.pull-right(href="https://getbootstrap.com/docs/3.3/") Website
                li.list-group-item jQuery
                  a.pull-right(href="https://jquery.com/") Website

                
                
            .panel-footer
              img(src=require("./img/bg.png") style="width: 24px; height: 24px; margin-right: 1em")
              span 2017
